{%extends 'photo/base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}
{{ block.super}}

<div class="container-fluid landing">
  <h2 class="text-center imagea">Welcome to mi galleria</h2>

</div>

<!-- <div class="container-fluid boded" id="b"> -->
<div class="container-fluid">
  <hr>

  {% if images %}
  <div class="row">
    {% for image in images %}
    
    <div class="card" width="500px" style="margin-bottom:30px; margin:30px; height: 600px;">
        <img class="card-image text-center" height="400px" src="{{image.image.url}}" width="500px">
        <hr>
        <br>
        <p class="card-text text-center">category: {{image.category}}</p>

        <p class="card-text text-center">name : {{image.name}}</p>
        <p class="card-text text-center">location : {{image.location}}</p>
        <p class="card-text text-center">description : {{image.description}}</p>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
          <input type="text"  class="form-control w- mx-3" value="{{image.image.url}}" id="myInput">
          <button class="btn btn-sm btn-outline-info" onclick="myFunction()">Copy Url</button>
          <br><br>
      </div>


    </div>
  

    {% endfor %}
    {% endif %}
    <script>
      function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
        alert("Copied the link: " + copyText.value);
      }
      </script>
      
    {% endblock %}