{%extends 'photo/base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}
<div class="container">

    <div class="row">
      {% if images%}
        <h2>Found {{ images|length }} of searched term {{message}}</h2>
      {% else %}
        <h2> Found 0 images for the search term {{message}}</h2>
      {% endif %}
  
    </div>
  
    <div class="row">
  
    {% if images %}
      {% for image in images %}
        <div class="col-sm-6 col-md-3">
            <h1>{{image.title}}</h1>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="{{image.image_image.url}}" class="img-responsive" alt="Image">
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
  {% endblock %}