{%extends 'photo/base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %} 
{{ block.super}}

<div class="container">

    <!-- Looping through news   -->
    {% for image_item in image %}

    <div class="row">
      <!-- displaying image -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{ image_item.title }} </h2>
      </div>
  
      <!--Display  images  -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{image_item.image_image.url}}" class="img-responsive" alt="Image" height="300px" width="400px">
      </div>
    </div>
    <div class="row">
      <p>{{image_item.post}}</p>
    </div>
    
    <div class="row">
      <!-- <p>Posted {{image_item.pub_date|timesince}} by {{image_item.editor.first_name}}</p> -->
    </div>

  
    {% empty %}
    <div class="row">
      <h2 class="text-center">No image found</h2>
    </div>
    {% endfor %}
  
  </div>
  

{% endblock %}