<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'imageToday' %}">Welcome to mi galleria</a>
      </div>

      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">

        <form class="form-inline my-2 my-md-0"  action="/search" role="search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Category" name="imagesearch" aria-label="Search">
            <button class="btn btn-info btn-md my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
      <!-- search form end -->
    </div>
  </nav>